@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solway:wght@400;700&display=swap");
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

html {
  width: 100%;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f28500;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f8f8f8;
}

.fade-in {
  animation: fadeCard 0.5s ease-in;
  opacity: 1;
}

@keyframes fadeCard {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  color: #120321;
  cursor: pointer;
}
a:hover {
  color: #f28500;
}

h3 {
  font-family: "Solway", serif;
  font-size: 3rem;
  text-align: center;
  margin: 20px auto;
}

.lg-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: #f28500;
  font-family: "Solway", serif;
  font-weight: 700;
}

.highlight-nav {
  color: #f28500;
  font-family: "Solway", serif;
  border-bottom: 2px solid #f28500;
  font-weight: 700;
}

a.fade-in-side:nth-of-type(2n + 1) {
  animation: fadeInLeft 1s ease-in-out;
  opacity: 1;
}

a.fade-in-side:nth-of-type(2n) {
  animation: fadeInRight 1s ease-in-out;
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.show-nav-items {
  display: flex;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  75% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  75% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
nav {
  z-index: 1;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  color: #120321;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 20px 30px;
  height: 75px;
  border-bottom: solid 1px #eee;
}
nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-header {
  letter-spacing: 0px;
  margin-left: 50px;
}
nav .nav-header span#logo {
  font-family: "Solway", serif;
  letter-spacing: -2px;
}
nav .nav-header:hover {
  cursor: pointer;
  color: #f28500;
}
nav .toggle-button {
  position: absolute;
  top: 23px;
  right: 50px;
  cursor: pointer;
  border-radius: 3px;
  height: 30px;
  width: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  background: transparent;
}
nav .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #f28500;
  margin-bottom: 3px;
  border-radius: 10px;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding: 0 15px;
}
@media (max-width: 845px) {
  nav {
    position: absolute;
    border-bottom: none;
  }
  nav .nav-container {
    flex-direction: column;
  }
  nav .nav-header {
    align-self: flex-start;
    text-align: left;
    margin-left: 0px;
  }
  nav .toggle-button {
    display: flex;
  }
  nav ul {
    display: none;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10px;
    z-index: 2;
  }
  nav ul li {
    padding: 2px 0px;
    display: block;
    margin: 0 5px;
  }
  nav ul li a {
    display: inline-block;
    width: 100%;
    border: none;
  }
  nav ul li a.highlight-nav {
    border: none;
  }
}
@media (max-width: 600px) {
  nav #my-name {
    display: none;
  }
}

.overlay, .overlay-yellow:hover::after, .overlay-gray:hover::after, .overlay-red:hover::after, .overlay-light-green:hover::after, .overlay-green:hover::after, .overlay-light-blue:hover::after, .overlay-purple:hover::after, .overlay-blue:hover::after, .overlay-teal:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  opacity: 0.3;
}

.overlay-teal:hover::after {
  background-color: #04aad3;
}
.overlay-blue:hover::after {
  background-color: #0d6dba;
}
.overlay-purple:hover::after {
  background-color: #8a4ad9;
}
.overlay-light-blue:hover::after {
  background-color: #6aa6ff;
}
.overlay-green:hover::after {
  background-color: #245c4c;
}
.overlay-light-green:hover::after {
  background-color: #00c805;
}
.overlay-red:hover::after {
  background-color: #ff0000;
}
.overlay-gray:hover::after {
  background-color: #333;
}
.overlay-yellow:hover::after {
  background-color: #fff500;
}

a.card-container {
  display: flex;
  justify-content: center;
  margin: 30px 50px;
  height: 40vh;
}
a.card-container .card {
  display: grid;
  grid-template-columns: 9fr 3fr;
  align-items: center;
  width: 75%;
  max-width: 1280px;
  height: 100%;
  border-radius: 30px;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  padding: 0px 30px;
}
@media (max-width: 845px) {
  a.card-container .card {
    width: 100%;
  }
}
a.card-container .card-content h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #120321;
}
a.card-container .card-content p {
  padding-top: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  color: #555;
}
@media (max-width: 845px) {
  a.card-container .card-content h2 {
    font-size: 1.5rem;
  }
  a.card-container .card-content p {
    font-size: 1.3rem;
  }
}
a.card-container .card-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.card-container .card-icon img {
  width: 100%;
}
@media (max-width: 600px) {
  a.card-container img {
    max-width: 200px;
  }
  a.card-container h2 {
    font-size: 1.1rem;
    margin-right: 40px;
  }
  a.card-container p {
    font-size: 1rem;
    margin-right: 40px;
  }
}

footer {
  margin: 20px auto;
  margin-bottom: 20px;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  footer .footer-container span {
    display: none;
  }
  footer .footer-container a {
    margin: 10px;
  }
}
footer ul {
  list-style: none;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  display: inline-block;
  text-decoration: none;
  color: #120321;
  margin: 10px 20px;
  padding: 15px;
  border: 1px solid #120321;
  border-radius: 50%;
}
footer ul li a:hover {
  color: #f28500;
  border-color: #f28500;
}
footer ul li i {
  font-size: 2rem;
}
footer p {
  margin-top: 10px;
}

#aboutLanding {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  min-height: calc(100vh - 95px);
  padding: 30px 40px 0px 40px;
  margin-top: 75px;
}
#aboutLanding .content-column {
  padding: 5px 30px;
}
#aboutLanding img {
  background: url(https://static.vecteezy.com/system/resources/thumbnails/002/375/040/small/modern-white-background-free-vector.jpg) no-repeat center center/cover;
  width: 100%;
}
#aboutLanding h4 {
  text-transform: uppercase;
  font-size: 1.1rem;
}
#aboutLanding p {
  margin: 20px auto;
  line-height: 1.6rem;
}
#aboutLanding a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  background: #f28500;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 10px 0px;
}
@media (max-width: 845px) {
  #aboutLanding {
    grid-template-columns: 1fr;
  }
  #aboutLanding p,
#aboutLanding h4 {
    text-align: center;
  }
  #aboutLanding img {
    max-width: 80vw;
    margin: 20px auto;
  }
}

#projectLanding {
  margin-top: 75px;
}
#projectLanding .awards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 50px;
  text-align: center;
}
#projectLanding .awards div {
  padding: 0 10px;
}
#projectLanding .awards div h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
#projectLanding .awards div p {
  font-size: 1.1rem;
}
@media (max-width: 845px) {
  #projectLanding .awards {
    grid-template-columns: 1fr;
  }
  #projectLanding .awards div {
    margin: 20px auto;
  }
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  margin-bottom: 95px;
}
@media (max-width: 845px) {
  #landing {
    margin-bottom: 0px;
  }
}
#landing h6 {
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}
#landing p {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
#landing .small {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 0px;
}
#landing button {
  text-decoration: none;
  font-size: 48px;
  background: none;
  border: none;
  cursor: pointer;
}
#landing button:hover {
  color: #f28500;
}
#landing .fade-1 {
  animation: fade1 0.5s ease-in;
  opacity: 1;
}
@keyframes fade1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#landing .fade-2 {
  animation: fade2 1s ease-in;
  opacity: 1;
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#landing .fade-3 {
  animation: fade3 1.5s ease-in;
  opacity: 1;
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  #landing h6,
#landing p,
#landing p.small {
    font-size: 1.5rem;
  }
  #landing button {
    font-size: 36px;
  }
}

.desc__main {
  margin-top: calc(75px + 40px);
  width: 100%;
  text-align: center;
}
.desc__main .desc__header {
  font-size: 3rem;
  font-family: "Solway";
  text-align: center;
}
.desc__main .desc__desc {
  font-size: 1.2rem;
  color: #555;
  font-family: "Solway";
  margin: 30px 20px;
  text-align: center;
}
.desc__main .desc__banner {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.desc__main .desc__banner img {
  width: 100%;
}

.desc__brief {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}
.desc__briefHeader {
  flex: 0.35;
}
.desc__briefHeader h3 {
  text-align: left;
  margin: 0 auto;
}
.desc__briefHeader p {
  font-size: 1.5rem;
  line-height: 1.6;
}
.desc__briefDesc {
  flex: 0.65;
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
}
.desc__briefDesc div {
  width: 45%;
  padding-right: 5%;
}
.desc__briefDesc div h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.desc__briefDesc div p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
@media (max-width: 845px) {
  .desc__brief {
    flex-direction: column;
  }
  .desc__briefHeader {
    margin-bottom: 20px;
  }
  .desc__briefDesc {
    margin-left: 0px;
  }
  .desc__briefDesc div {
    width: 100%;
    padding-right: 0%;
  }
}

.desc__resume {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}
.desc__resume ul,
.desc__resume li {
  list-style: none;
  padding: 0;
}
.desc__resumeHeader {
  flex: 0.8;
  width: 95%;
  padding-right: 5%;
}
.desc__resumeHeader h3 {
  text-align: left;
}
.desc__resumeHeader .sessions {
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
.desc__resumeHeader li {
  padding-bottom: 1.5rem;
  border-left: 1px solid #f28500;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 1.3rem;
}
.desc__resumeHeader li:last-child {
  border: 0px;
  padding-bottom: 0;
}
.desc__resumeHeader li:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #f28500;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}
.desc__resumeHeader li p {
  font-family: "Solway";
  font-weight: 400;
}
.desc__resumeItems {
  flex: 0.2;
}
.desc__resumeItems h3 {
  text-align: left;
}
.desc__resumeItems li {
  padding-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.3rem;
}
.desc__resumeItems li a {
  border-bottom: solid 1px #f28500;
}
@media (max-width: 845px) {
  .desc__resume {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
