@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solway:wght@700&display=swap");
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f28500;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f8f8f8;
}

a {
  text-decoration: none;
  color: #120321;
  cursor: pointer;
}
a:hover {
  color: #f28500;
}

.lg-container {
  max-width: 1280px;
  margin: 0 auto;
}

.highlight {
  color: #f28500;
  font-family: "Solway", serif;
}

.highlight-nav {
  color: #f28500;
  font-family: "Solway", serif;
  border-bottom: 2px solid #f28500;
}

a.fade-in-side:nth-of-type(2n + 1) {
  animation: fadeInLeft 1s ease-in-out;
  opacity: 1;
}

a.fade-in-side:nth-of-type(2n) {
  animation: fadeInRight 1s ease-in-out;
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  75% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  75% {
    opacity: 0.4;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
nav {
  z-index: 1;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  color: #120321;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 30px;
  border-bottom: solid 1px #eee;
}
nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-header {
  letter-spacing: 0px;
  margin-left: 50px;
}
nav .nav-header span#logo {
  font-family: "Solway", serif;
  letter-spacing: -2px;
}
nav .nav-header:hover {
  cursor: pointer;
  color: #f28500;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin: 0 20px;
}
@media (max-width: 768px) {
  nav {
    position: relative;
  }
  nav ul {
    text-align: right;
  }
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
}
@media (max-width: 600px) {
  nav {
    position: relative;
  }
  nav .nav-header {
    margin-left: 0px;
  }
  nav ul {
    text-align: right;
  }
  nav ul li {
    display: block;
    margin: 0 10px;
  }
  nav #my-name {
    display: none;
  }
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
  width: 100vw;
  height: calc(100vh - 95px);
}
#landing h6 {
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}
#landing p {
  text-align: center;
  font-size: 1.8rem;
}
#landing .fade-1 {
  animation: fade1 1s ease-in;
  opacity: 1;
}
@keyframes fade1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#landing .fade-2 {
  animation: fade2 2s ease-in;
  opacity: 1;
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#landing .fade-3 {
  animation: fade3 3s ease-in;
  opacity: 1;
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#aboutLanding {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  min-height: calc(100vh - 95px);
  padding: 30px 40px 0px 40px;
}
#aboutLanding .content-column {
  padding: 5px 30px;
}
#aboutLanding img {
  background: url(https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat center center/cover;
  width: 100%;
  box-shadow: 3px 3px 2px 1px #fdfd96;
}
#aboutLanding h3 {
  text-transform: uppercase;
}
#aboutLanding p {
  margin: 20px auto;
  line-height: 2rem;
}
@media (max-width: 768px) {
  #aboutLanding {
    grid-template-columns: 1fr;
  }
  #aboutLanding p,
#aboutLanding h3 {
    text-align: center;
  }
  #aboutLanding img {
    max-width: 80vw;
    margin: 20px auto;
  }
}

#projectLanding h3 {
  font-family: "Solway", serif;
  font-size: 3rem;
  text-align: center;
  margin: 20px auto;
}
#projectLanding .awards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 50px;
  text-align: center;
}
#projectLanding .awards div {
  padding: 0 10px;
}
#projectLanding .awards div h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}
#projectLanding .awards div p {
  font-size: 1.1rem;
}
@media (max-width: 768px) {
  #projectLanding .awards {
    grid-template-columns: 1fr;
  }
  #projectLanding .awards div {
    margin: 20px auto;
  }
}

.overlay, .overlay-yellow:hover::after, .overlay-gray:hover::after, .overlay-red:hover::after, .overlay-green:hover::after, .overlay-light-blue:hover::after, .overlay-purple:hover::after, .overlay-blue:hover::after, .overlay-teal:hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  opacity: 0.3;
}

.overlay-teal:hover::after {
  background-color: #04aad3;
}
.overlay-blue:hover::after {
  background-color: #0d6dba;
}
.overlay-purple:hover::after {
  background-color: #8a4ad9;
}
.overlay-light-blue:hover::after {
  background-color: #6aa6ff;
}
.overlay-green:hover::after {
  background-color: #245c4c;
}
.overlay-red:hover::after {
  background-color: #ff0000;
}
.overlay-gray:hover::after {
  background-color: #333;
}
.overlay-yellow:hover::after {
  background-color: #fff500;
}

a.card-container {
  display: flex;
  justify-content: center;
  margin: 30px 50px;
  height: 40vh;
}
a.card-container .card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  padding: 0px 30px;
}
a.card-container .card-content h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #120321;
}
a.card-container .card-content p {
  font-size: 1.5rem;
  color: #555;
}
@media (max-width: 768px) {
  a.card-container .card-content h2 {
    font-size: 1.3rem;
  }
  a.card-container .card-content p {
    font-size: 1.2rem;
  }
}
a.card-container .card-icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a.card-container .card-icon img {
  height: 80%;
  position: relative;
  top: 10%;
}
@media (max-width: 768px) {
  a.card-container img {
    max-width: 200px;
  }
  a.card-container .card-content {
    text-align: right;
  }
}

a.card-container:nth-of-type(2n) .card {
  display: flex;
  flex-direction: row-reverse;
}
a.card-container:nth-of-type(2n) .card-content {
  text-align: right;
}
a.card-container:nth-of-type(2n) .card-icon img {
  position: relative;
}
@media (max-width: 768px) {
  a.card-container:nth-of-type(2n) .card-content {
    text-align: left;
  }
}

footer {
  margin: 80px auto;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  footer .footer-container span {
    display: none;
  }
  footer .footer-container a {
    margin: 10px;
  }
}
footer ul {
  list-style: none;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  display: inline-block;
  text-decoration: none;
  color: #120321;
  margin: 10px 20px;
  padding: 15px;
  border: 1px solid #120321;
  border-radius: 50%;
}
footer ul li a:hover {
  color: #f28500;
  border-color: #f28500;
}
footer ul li i {
  font-size: 2rem;
}
footer p {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
